img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 82.5vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.register {
  position: relative;
  /* background: url('./img/showcase.jpg') no-repeat; */
  /* background-size: cover; */
  background-position: center;
  height: 82.5vh;
  margin-top: -24px;
  margin-bottom: -50px;
}
.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


